@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Crete+Round);
@import url(https://fonts.googleapis.com/css?family=Kreon);
@import url(https://fonts.googleapis.com/css?family=Lobster);

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

section{
    height: 100vh;
    width: 100%;
}

.menu{
    z-index: 101;
    right: 0;
    float: right;
    padding: 30px;
    position: fixed;
}

.menu .fa{
    font-size: 25px;
    border-radius: 5px;
    color: #FEBD01;
    cursor: pointer;
}

#navbar{
    z-index: 200;
    right: 0;
    position: fixed;
    float: right;
    height: 100vh;
    width: 20%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: transparent;
    font-family: 'Lobster', cursive;
    display: none;
}

#navbar .button{
    justify-content: center;
    text-align: center;
    padding: 5px;
    position: relative;
    margin-top: 20px;
    margin-left: -15%;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
}

#navbar .button .fa{
    line-height: 23px;
    font-size: 15px;
    color: red;
    font-weight: 700;
}

#navbar .container{
    text-align: center;
    padding: 20px;
}

#navbar .container h1{
    font-size: 40px;
    margin-bottom: 80px;
}

#navbar .container .nav-link a{
    color: white;
    font-size: 30px;
    transition: all .5s;
}

#navbar .container .nav-link a:hover{
    font-size: 40px;
}

#navbar .container ul li{
    margin-bottom: 20px;
    z-index: 101;
    display: block;
}

#blur{
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: #0008;
    display: none;
}

.text{
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    text-align: center;
}

.text h1{
    font-size: 50px;
    text-align: center;
}

.img{
    width: 100%;
    height: 100vh;
}

.img img{
    width: 100%;
    height: 100%;
}

#local-navbar{
    z-index: 50;
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: fixed;
}

#local-navbar .container{
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

#local-navbar .container ul{
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
}

#local-navbar .container ul li a{
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    color: #000000;
    font-family: 'Pacifico', cursive;
    transition: all .5s ease;
}

#local-navbar .container ul li a:hover{
    background-color: #000000;
    color: #ffffff;
}

#vision{
    height: 100vh;
    width: 100%;
    flex: 0 0 50%;
    display: flex;
}

#vision .text{
    font-family: 'Crete Round', serif;
}

#mission{
    height: 100vh;
    width: 100%;
    flex: 0 0 50%;
    display: flex;
    font-family: 'Kreon', serif;
}

#mission .text{
    padding: 0;
}

#mission .text h1{
    font-size: 50px;
}

#team{
    height: 100vh;
    display: flex;
    font-family: "Open Sans",sans-serif;
}

#team .person{
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: .6s;
}

#team .person:hover{
    flex: 10;
}

#team .person-pic{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    filter: grayscale(80%);
    transition: .3s;
}

#team .person:hover .person-pic{
    filter: grayscale(0);
}

#team .person-info{
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: .2s;
}

#team .person:hover .person-info{
    opacity: 1;
    bottom: 60px;
    transition-delay: .6s;
}

#team .person-info h2{
    font-size: 20px;
    color: #fff;
}

#team .person-info p{
    color: #b8e994;
    font-style: italic;
    margin-top: 8px;
    margin-bottom: 20px;
}

#team .socialmedia a{
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #333;
    background-color: #b8e994;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 6px;
    font-size: 18px;
    transition: .3s linear;
}

#team .socialmedia a:hover{
    color: #b8e994;
    background-color: transparent;
    transform: scale(1.5);
}

#footer p{
    font-size: 12px;
}

#footer a{
    text-decoration: none;
    color: #ffffff;
}

footer{
    padding: 3%;
    font-family: sans-serif;
    height: 55vh;
    flex: 0 0 25%;
    display: flex;
}

#footer{
    color: #ffffff;
    font-family: sans-serif;
    background-color: #000000;
}

#footer input{
    margin-top: 10px;
    width: 20em;
    height: 30%;
    padding: 5%;
    display: flex;
}

#footer .first h1{
    font-size: 30px;
}

#footer .first .input{
    display: flex;
    margin: 20px 0;
}

#footer .first .input .sub-second p{
    margin-left: 60px;
}

#footer .first .input .sub-second input{
    margin-left: 60px;
}

#footer .button{
    text-align: center;
    width: 100%;
    padding: 10px;
    border: 2px solid #ffffff;
    transition: all .5s ease;
}

#footer .button:hover{
    background-color: #ffffff;
    color: #000000;
}

#footer .button p{
    padding: 1%;
}

#footer .first .para{
    margin: 20px 0;
}

#footer .first .para p{
    font-weight: 400;
}

#footer .first .para p a{
    text-decoration: underline;
    color: #ffffff;
}

#footer .first ul{
    margin-top: 20px;
    display: flex;
}

#footer .first ul li{
    border: 1px solid #ffffff;
    text-align: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin: 0 10px;
    transition: all .5s ease;
}

#footer .first ul li:hover{
    background-color: #ffffff;
}

#footer .first ul li:hover a{
    color: #000000;
}

#footer .first ul li a{
    color: #ffffff;
    font-size: 20px;
}

#footer .second{
    margin-left: 60px;
}

#footer .second p a{
    margin-top: 20px;
    display: block;
    color: #ffffff;
    text-decoration: none;
}

#footer .third{
    margin-left: 60px;
}

#footer .third p a{
    display: block;
    margin-top: 20px;
}

#footer .fourth{
    margin-left: 60px;
}

#footer .fourth p a{
    display: block;
    margin-top: 20px;
}

#footer .sub{
    border-top: 1px solid #2e2e2e;
    height: 6vh;
    background-color: #000000;
    color: #5a5a5a;
}

#footer .sub p{
    padding: 0 5em;
    color: #313131;
    font-weight: 900;
    text-align: center;
    margin: 0 40px;
    line-height: 6vh;
}

#footer .sub p a{
    color: #313131;
    font-weight: 900;
    text-align: center;
    margin: 0 40px;
    line-height: 6vh;
}

#footer .sub .fa{
    margin-left: 5px;
    color: #343434;
}

#footer .sub-two{
    border-top: 1px solid #262626;
    height: 2vh;
    background-color: #000000;
    padding: 1% 5%;
}

#footer .sub-two p,
#footer .sub-two p a{
    color: #3a3a3a;
    font-weight: 900;

}



@media (max-width: 768px){
    #navbar{
        width: 250px;
    }

    #navbar .container h1{
        font-size: 40px;
        margin-bottom: 80px;
    }

    #home{
        background-size: 100% 100%;
    }

    #home .heading{
        height: 100% 100%;
    }

    #home .heading h1{
        font-size: 80px;
        letter-spacing: 4px;
    }

    #right .text h1{
        font-size: 20px;
    }

    #right .text{
        margin-top: 5%;
    }

    #desc .desc .para{
        background-size: 100% 100%;
    }

    #desc .desc .para h1{
        margin-top: 80px;
        font-size: 60px;
        letter-spacing: 2px;
    }

    #desc .desc .img{
        background-size: 100% 100%;
    }

    #ideas{
        background-size: 100% 100%;
    }

    #ideas .text h1{
        margin-top: 80px;
        font-size: 60px;
    }

    #skills{
        background-size: 100% 100%;
    }

    #skills .text .sub1{
        width: 30%
    }

    #skills .text .sub1 h1{
        font-size: 30px;
    }

    #skills .text .sub2{
        width: 30%
    }

    #skills .text .sub2 h1{
        font-size: 30px;
    }

    #connection{
        background-size: 100% 100%;
    }

    #connection .text h1{
        font-size: 50px;
    }
}

@media (max-width: 500px){
    #navbar{
        width: 250px;
    }

    #navbar .container h1{
        font-size: 40px;
        margin-bottom: 80px;
    }

    #home{
        background-size: 100% 100%;
    }

    #home .heading{
        height: 100% 100%;
    }

    #home .heading h1{
        font-size: 60px;
        letter-spacing: 2px;
    }

    #right .button{
        width: 100%;
    }

    #desc .desc .para{
        background-size: 100% 100%;
    }

    #desc .desc .para h1{
        margin-top: 80px;
        font-size: 40px;
        letter-spacing: 2px;
    }

    #desc .desc .img{
        background-size: 100% 100%;
    }

    #ideas{
        background-size: 100% 100%;
    }

    #ideas .text h1{
        margin-top: 80px;
        font-size: 45px;
    }

    #skills{
        background-size: 100% 100%;
    }

    #skills .text .sub1{
        width: 40%
    }

    #skills .text .sub1 h1{
        font-size: 30px;
    }

    #skills .text .sub2{
        width: 40%
    }

    #skills .text .sub2 h1{
        font-size: 30px;
    }

    #connection{
        background-size: 100% 100%;
    }

    #connection .text h1{
        font-size: 45px;
    }   
}

@media (max-width: 768px){
    .menu .fa{
        font-size: 20px;
    }

    #navbar{
        width: 250px;
    }

    #navbar .container h1{
        font-size: 35px;
        margin-bottom: 20px;
    }

    #navbar .container ul li{
        margin-bottom: 20px;
    }

    #navbar .container .nav-link a{
        font-size: 20px;
    }

    #local-navbar{
        padding: 10px;
    }

    #vision{
        flex: 0 0 100%;
        display: block;
    }

    #vision .text{
        width: 100%;
        height: 10%;
    }

    #vision .text h1{
        font-size: 30px;
    }

    #vision .img{
        width: 100%;
        height: 50%;
    }

    #mission{
        flex: 0 0 100%;
        display: block;
    }

    #mission .text{
        width: 100%;
        height: 10%;
    }

    #mission .text h1{
        font-size: 30px;
    }

    #mission .img{
        width: 100%;
        height: 50%;
    }
}

@media (max-width: 500px){    
    .menu .fa{
        font-size: 15px;
    }

    #navbar{
        width: 200px;
    }

    #navbar .container h1{
        font-size: 25px;
        margin-bottom: 20px;
    }

    #navbar .container ul li{
        margin-bottom: 10px;
        z-index: 101;
        display: block;
    }
    #local-navbar{
        padding: 10px;
        height: 5vh;
    }

    #local-navbar .container{
        padding: 0;
    }

    #navbar .container .nav-link a{
        font-size: 20px;
    }

    #local-navbar .container ul li a{
        font-size: 10px;
        padding: 0;
    }

    #vision .text{
        width: 100%;
        height: 5%;
    }

    #vision .text h1{
        font-size: 20px;
    }

    #vision .img{
        width: 100%;
        height: 50%;
    }

    #mission{
        margin-top: 10px;
    }

    #mission .text{
        width: 100%;
        height: 5%;
        margin-top: 20px;
    }

    #mission .text h1{
        font-size: 20px;
    }

    #mission .img{
        width: 100%;
        height: 50%;
    }
}