@import url(https://fonts.googleapis.com/css?family=Cookie);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&display=swap');
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    user-select: none;
    scroll-behavior: smooth;
}

.header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.progress-container {
    width: 100%;
    height: 8px;
}

.progress-bar {
    height: 8px;
    background: linear-gradient(to right, #fd57bf, #ffe838);
    width: 0%;
}

body::-webkit-scrollbar{
    display: none;
}

/*body::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}*/

.menu{
    right: 0;
    float: right;
    padding: 30px;
    position: fixed;
}

.menu .fa{
    font-size: 25px;
    border-radius: 5px;
    color: #FEBD01;
    cursor: pointer;
}

#navbar{
    right: 0;
    position: fixed;
    float: right;
    height: 100vh;
    width: 20%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: transparent;
    font-family: 'Lobster', cursive;
    display: none;
    /*margin-right: -20%;*/
}

#navbar .button{
    justify-content: center;
    text-align: center;
    padding: 5px;
    position: relative;
    margin-top: 20px;
    margin-left: -15%;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
}

#navbar .button .fa{
    line-height: 23px;
    font-size: 15px;
    /*display: none;*/
    color: red;
    font-weight: 700;
}

#navbar .container{
    text-align: center;
    padding: 20px;
}

#navbar .container h1{
    font-size: 40px;
    margin-bottom: 80px;
}

#navbar .container .nav-link a{
    color: white;
    font-size: 30px;
    transition: all .5s;
}

#navbar .container .nav-link a:hover{
    font-size: 40px;
}

#navbar .container ul li{
    margin-bottom: 20px;
    z-index: 101;
    display: block;
}


#home{
    height: 100vh;
    background: url(Images/Home_Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#home .heading{
    height: 100vh;
}

#home h1{
    line-height: 100vh;
    text-align: center;
    /*padding: 250px 420px;*/
    font-family: 'Cookie', cursive;
    font-weight: bolder;
    letter-spacing: 10px;
    font-size: 100px;
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
}

@keyframes neon {
    from {
      text-shadow:
      0 0 10px rgba(202,228,225,0.92),
      0 0 30px rgba(202,228,225,0.34),
      0 0 12px rgba(30,132,242,0.52),
      0 0 21px rgba(30,132,242,0.92),
      0 0 34px rgba(30,132,242,0.78),
      0 0 54px rgba(30,132,242,0.92);
    }
    to {
      text-shadow:
      0 0 10px rgba(202,228,225,0.98),
      0 0 30px rgba(202,228,225,0.42),
      0 0 12px rgba(30,132,242,0.58),
      0 0 22px rgba(30,132,242,0.84),
      0 0 38px rgba(30,132,242,0.88),
      0 0 60px rgba(30,132,242,1);
    }
}

#chat{
    padding: 40px 50px;
    z-index: 100;
    position: fixed;
    bottom: 0;
    right: 0;
}

#chat .icon{
    display: block;
}

#chat .icon img{
    height: 50px;
    width: 50px;
}

#desc{
    height: 100vh;
}

#desc .desc{
    height: 100vh;
    flex: 0 0 50%;
    display: flex;
}

#desc .desc .para{
    width: 100%;
    height: 100vh;
    background: url(Images/leading_plateform1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#desc .desc .para h1{
    font-family: 'Permanent Marker', cursive;
    background: linear-gradient(to right, #ec008c, #fc6767);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: 700;
    font-size: 70px;
    text-transform: uppercase;
}

#desc .desc .img{
    width: 100%;
    height: 100vh;
}

#desc .desc .img img{
    width: 100%;
    height: 100vh;
}

#ideas{
    height: 100vh;
    background: url(Images/idea.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#ideas .text{
    width: 50%;
    float: right;
    height: 100vh;
}

#ideas .text h1{
    font-size: 80px;
    font-family: 'Kaushan Script', cursive;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

#skills{
    height: 100vh;
    background: url(Images/skills.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#skills .text{
    height: 100vh;
    width: 100%;
}

#skills .text h1{
    background: linear-gradient(to right, red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#skills .text .sub1{
    margin-top: 300px;
    float: left;
    width: 30%;
    margin-left: -30px;
}

#skills .text .sub2{
    margin-top: 300px;
    float: right;
    width: 30%;
}

#skills .text .sub2 h1{
    margin-left: 40px;
}

#connection{
    height: 100vh;
    background: url(Images/communicate.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
}

#connection .text{
    padding: 80px 20px;
    text-align: center;
}

#connection .text h1{
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    font-size: 50px;
}



@media (max-width: 768px){
    #navbar{
        width: 250px;
    }

    #navbar .container h1{
        font-size: 40px;
        margin-bottom: 80px;
    }

    #home{
        background-size: 100% 100%;
    }

    #home .heading{
        height: 100% 100%;
    }

    #home .heading h1{
        font-size: 80px;
        letter-spacing: 4px;
    }

    #desc .desc .para{
        background-size: 100% 100%;
    }

    #desc .desc .para h1{
        margin-top: 80px;
        font-size: 60px;
        letter-spacing: 2px;
    }

    #desc .desc .img{
        background-size: 100% 100%;
    }

    #ideas{
        background-size: 100% 100%;
    }

    #ideas .text h1{
        margin-top: 80px;
        font-size: 60px;
    }

    #skills{
        background-size: 100% 100%;
    }

    #skills .text .sub1{
        width: 30%
    }

    #skills .text .sub1 h1{
        font-size: 30px;
    }

    #skills .text .sub2{
        width: 30%
    }

    #skills .text .sub2 h1{
        font-size: 30px;
    }

    #connection{
        background-size: 100% 100%;
    }

    #connection .text h1{
        font-size: 50px;
    }
}

@media (max-width: 500px){
    #navbar{
        width: 250px;
    }

    #navbar .container h1{
        font-size: 40px;
        margin-bottom: 80px;
    }

    #home{
        background-size: 100% 100%;
    }

    #home .heading{
        height: 100% 100%;
    }

    #home .heading h1{
        font-size: 60px;
        letter-spacing: 2px;
    }

    #desc .desc .para{
        background-size: 100% 100%;
    }

    #desc .desc .para h1{
        margin-top: 80px;
        font-size: 40px;
        letter-spacing: 2px;
    }

    #desc .desc .img{
        background-size: 100% 100%;
    }

    #ideas{
        background-size: 100% 100%;
    }

    #ideas .text h1{
        margin-top: 80px;
        font-size: 45px;
    }

    #skills{
        background-size: 100% 100%;
    }

    #skills .text .sub1{
        width: 40%
    }

    #skills .text .sub1 h1{
        font-size: 30px;
    }

    #skills .text .sub2{
        width: 40%
    }

    #skills .text .sub2 h1{
        font-size: 30px;
    }

    #connection{
        background-size: 100% 100%;
    }

    #connection .text h1{
        font-size: 45px;
    }   
}